.input {
  height: 2.5rem;
  border-radius: 30px;
  border: 1px solid grey;
  min-width: 20rem;
  outline: none;
  font-weight: bold;
  font-size: 1rem;
  padding: 0 1rem;
}

.input::placeholder {
  color: gray;
}
