.button {
  height: 3rem;
  border-radius: 30px;
  border: 1px solid grey;
  min-width: 22rem;
  outline: none;
  font-weight: bold;
  font-size: 1rem;
  padding: 0 1rem;
  background: #4343b0;
  color: white;
}

.button:disabled {
  background: grey;
  cursor: not-allowed;
}

.button:focus,
.button:hover:not(:disabled) {
  box-shadow: 0 0 0 10rem hsla(360, 100%, 100%, 0.1) inset;
  outline: 0;
  cursor: pointer;
}

.button:active {
  box-shadow: 0 0 0 10rem hsla(360, 100%, 100%, 0.2) inset;
}
