.leftColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4rem;
  min-width: 300px;
}

.inputsContainer,
.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.inputsContainer > * {
  margin-bottom: 1rem;
}

.rootScreenContainer {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.mapsContainer {
  flex: 1;
  height: 100vh;
}

.distanceContainer {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.distanceContainer > span {
  margin-right: 1rem;
}
